<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body class="bg-light">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h1 class="card-header">Sign Up</h1>
                <div th:if="${success}" class="alert alert-success mt-3">
                    <strong>User Added successfully</strong>
                    <a th:href="@{/login}" class="btn btn-primary ml-3">Login</a>
                </div>
                <div class="card-body">
                    <form th:object="${registerDto}" method="POST" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" id="username" th:field="*{username}" class="form-control"
                                   placeholder="Username" required>
                            <div class="invalid-feedback">
                                Please enter a valid username.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" id="password" th:field="*{password}" class="form-control"
                                   placeholder="Password" required>
                            <div class="invalid-feedback">
                                Please enter a valid password.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password:</label>
                            <input type="password" id="confirmPassword" th:field="*{confirmPassword}"
                                   class="form-control" placeholder="Confirm Password" required>
                            <div class="invalid-feedback">
                                Passwords must match.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" th:field="*{email}" class="form-control"
                                   placeholder="Email" required>
                            <div class="invalid-feedback">
                                Please enter a valid email address.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-fppF5l4qzmlggi8X+KsY4+SVEt5wUs4k5kpwdrz/P5w4+5NwFdmrdQGJl2a6m8a1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+TpOqrtOf+74+8+DIH0t+nBh4FFt/6v+0n2"
        crossorigin="anonymous"></script>
</body>
</html>
